* {
    font-family:'roboto', sans-serif;
    font-weight:100;
    font-size:20px;
}

.gray{
    background-color:gray;
}

#messages{
    position:relative;
    width:50%;
    left:25%;
    overflow:auto;
    height:700px;
}



